<!DOCTYPE html>
<html>
  <head>
    <title>Stop 11 Road church of Christ</title>
    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/shim' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class="main-body">
      <%= yield %>
    </div>
    <div class="sidebar">
      <%= render 'layouts/sidebar' %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
